<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste node</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <style>
        h2 {
            color: white;
        }
        
        .flex {
            display: flex;
            align-items: center;
        }
        
        .flex-item-1 {
            flex: 1;
        }
        /* Flex Item */
        
        .item {
            margin: 10px;
        }
        
        .box {
            width: 100%;
            height: 100vh;
            background-color: rgba(43, 41, 41, 0.877);
        }
    </style>
    <form action="" method="post">

        <div class="box">

            <nav class="navbar navbar-dark bg-dark">
                <h2>CRUD</h2>
            </nav>
            <br>
            <section class="container flex">

                <div class="item flex-item-1">
                    <input type="text" class="form-control" placeholder="Nome">
                </div>

                <div class="item flex-item-1">
                    <input type="text" class="form-control" placeholder="Email">
                </div>

                <div class="item flex-item-1">
                    <input type="text" class="form-control" placeholder="Telefone">
                </div>

                <div class="item flex-item-1">
                    <input type="text" class="form-control" placeholder="Profissão">
                </div>

                <div class="item flex-item-1">
                    <input type="button" value="Cadastrar" class="form-control btn btn-dark" ">
            </div>

        </section>
        <br>

        <table class="table table-dark ">
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">Nome</th>
                    <th scope="col ">Email</th>
                    <th scope="col ">Telefone</th>
                    <th scope="col ">Profissão</th>
                    <th scope="col ">Ações</th>
                </tr>
            </thead>
        </table>
    </div>
</form>
</body>

</html>